a {
	color: #CDA551;
    text-decoration: none;
    display: block;
}
a:hover{
    color: #CDA551;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, cursive;
}
.auto-style1 {
	font-family: Ebrima;
	font-size: 1..08em;
    text-decoration: none;
    width: auto;
    margin-bottom: 20%;
}
.auto-style2 {
	color: #CDA551;
	text-decoration: none;
}
