html{
    height: auto;
    width: 100%;
    background: url(china.jpeg);
}

body{
    width: 90%;
    height: auto;
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    background: url("orange29.jpg");
}

header{
    height: 100px;
    background-color: rgb(78, 13, 13);
    border-bottom: rgb(236, 228, 228) 4px solid;
}

div.col-1-5{
    background-color: #daa520de;
    float: left;
    list-style: none;
    text-align: center;
    border-right: rgb(236, 228, 228) 4px solid;
    height: 650px;
}

div.col-4-5{
    margin-left: 20%;
}

h1{
    margin: 0;
    text-align: center;
    padding-top: 3%;
}

a{
    display: block;
    height: 30px;
    margin-top: 17px;
    margin-bottom: 10px;
    font-size: 1em;
    text-decoration: none;
    color: rgb(78, 13, 13);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
}

p{
    text-align: center;
}

table{
    border: 2px solid black;
    margin-left: 10%;
    margin-right: 10%;
}

td{
    text-align: left;
    width: 40%;
    float: left;
    margin-top: 10px;
    font-size: 1.2em;
}
tr{
    width: 100%;
    
}

li{
    list-style: none;
}

a:hover{
    text-decoration: underline;
    font-size: 1.4em;
}
div.row::after{
    clear: both;
    display: table;
    content: "";
}
body div.col-1-5{width: 20%;}
body div.col-3-5{width: 60%;}